h1 {
	text-align: center;
	font-family: arial;
	background-color: yellowgreen;
	padding-bottom: 25px;
	padding-top: 25px;
	margin-top: 0;
	margin-bottom: 100px;
}

.couleurblanc {
	background-color: white;
}

.couleurnoir {
	background-color: black;
}

.couleurrouge {
	background-color: red;
}

.couleurbleu {
	background-color: blue;
}

.couleurjaune {
	background-color: yellow;
}

#grid {
	width: 800px;
	height: 500px;
	margin: auto;
	display: grid;
	grid-template: repeat(16, 1fr) / repeat(18, 1fr);
	grid-gap: 5px;
	background-color: black;
	border: 5px solid black;
}

#blanc1 {
	grid-area: 1 / 1 / 4 / 2;
}

#blanc2 {
	grid-area: 1 / 2 / 1 / 8;
}

#blanc3 {
	grid-area: 1 / 8 / 1 / 17;
}

#blanc4 {
	grid-area: 1 / 17 / 9 /18;
}

#jaune1 {
	grid-area: 1 / 18 / 9 / 19;
}

#bleu1 {
	grid-area: 2 / 2 / 4 / 8;
}

#blanc5 {
	grid-area: 2 / 8 / 4 / 12;
}

#bleu2 {
	grid-area: 2 / 12 / 4 / 17;
}

#noir1 {
	grid-area: 4 / 1 / 11 / 2;
}

#blanc6 {
	grid-area: 4 / 2 / 11 / 4;
}

#noir2 {
	grid-area: 4 / 4 / 16 / 5;
}

#blanc7 {
	grid-area: 4 / 5 / 9 / 7;
}

#blanc8 {
	grid-area: 4 / 7 / 9 / 8;
}

#jaune2 {
	grid-area: 4 / 8 / 9 / 12;
}

#rouge1 {
	grid-area: 4 / 12 / 9 / 16;
}

#rouge2 {
	grid-area: 4 / 16 / 9 / 17;
}

#jaune3 {
	grid-area: 9 / 5 / 11 / 6;
}

#rouge3 {
	grid-area: 9 / 6 / 11 / 8;
}

#bleu4 {
	grid-area: 9 / 8 / 11 / 12;
}

#blanc9 {
	grid-area: 9 / 12 / 11 / 16;
}

#blanc10 {
	grid-area: 9 / 16 / 11 / 17;
}

#noir3 {
	grid-area: 9 / 17 / 11 / 19;
}

#blanc11 {
	grid-area: 11 / 1 / 16 / 2;
}

#rouge5 {
	grid-area: 11 / 2 / 16 / 4;
}

#jaune4 {
	grid-area: 11 / 5 / 17 / 6;
}

#blanc12 {
	grid-area: 11 / 6 / 15 / 11;
}

#blanc13 {
	grid-area: 11 / 11 / 15 / 14;
}

#bleu3 {
	grid-area: 11 / 14 / 15 / 16;
}

#jaune5 {
	grid-area: 11 / 16 / 15 / 17;
}

#blanc14 {
	grid-area: 11 / 17 / 15 / 19;
}

#blanc15 {
	grid-area: 16 / 1 / 17 / 5;
}

#rouge4 {
	grid-area: 15 / 6 / 17 / 9;
}

#noir4 {
	grid-area: 15 / 9 / 17 / 14;
}

#blanc16 {
	grid-area: 15 / 14 / 17 / 19;
}